/*CSS GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../imagenes/angus_blurred.jpg);
  background-size: cover;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

body h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.header {
  background-color: #00000096;
  position: sticky;
  top: 0px;
  padding: 0.2rem 1.5rem;
  font-family: "Poppins", sans-serif;
  z-index: 100;
}

.header .header__logo img {
  width: 20rem;
}

.navbar-collapse {
  flex-grow: initial;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffdd44;
}

.navbar .dropdown-menu {
  background-color: #00000096;
}

.navbar .dropdown-menu .dropdown-item {
  color: #ffffff;
  font-size: 1.1rem;
}

.navbar .dropdown-menu .dropdown-item:hover {
  color: #ffdd44;
  background-color: #00000096;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
}

footer ul li {
  list-style: none;
  display: inline;
  font-size: 1.8rem;
  margin: 0.6rem;
}

footer ul li a {
  text-decoration: none;
}

footer ul li a i {
  color: #000;
}

footer ul li a i:hover {
  color: #ffffff;
}

/* CSS HOME */
.banner img {
  width: 100%;
}

.main-text {
  display: inline-block;
}

.main-text h1 {
  background-color: #ffffff;
  padding: 0.4rem;
  color: #000000;
  text-align: center;
  font-style: italic;
  z-index: 1;
}

.main-text p {
  padding: 0.2rem 3.5rem;
  text-align: justify;
  font-size: 1rem;
}

.main-text p img {
  width: 1.7rem;
  position: relative;
  top: -0.2rem;
}

.main-text__link {
  color: #ffffff;
}

.main-text__dope {
  color: #ffdd44;
  font-weight: bold;
}

.article1 {
  background-color: #00000096;
  margin: 1rem auto;
  padding: 0.8rem;
  width: fit-content;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.article1 .article1__video iframe {
  width: 550px;
  height: 320px;
}

.article1 .article1__text {
  width: 270px;
}

.article1 .article1__text h2 {
  font-style: italic;
  color: #fd579c;
  margin-bottom: 0;
}

.article1 .article1__text p {
  margin: 0.5rem 1rem 0.5rem 0;
  font-size: 0.9rem;
  text-align: justify;
}

.article1 .article1__text button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background: transparent;
}

.article1 .article1__text button.more-videos {
  width: 12rem;
}

.article1 .article1__text button.more-videos .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 4px;
  width: 2rem;
  height: 2rem;
  background: #fd579c;
  border-radius: 1.625rem;
}

.article1 .article1__text button.more-videos .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.article1 .article1__text button.more-videos .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.2rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.article1 .article1__text button.more-videos .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #ffffff;
  border-right: 0.125rem solid #ffffff;
  transform: rotate(45deg);
}

.article1 .article1__text button.more-videos .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem 0;
  margin: 0 0 0 1.3rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.article1 .article1__text button:hover .circle {
  width: 93%;
}

.article1 .article1__text button:hover .circle .icon.arrow {
  background: #ffffff;
  transform: translate(1rem, 0);
}

/* CSS SUB-MENU */
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
}

.flex .flex__album {
  background-color: #00000096;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex .flex__album--data {
  display: flex;
  gap: 15px;
  align-items: center;
}

.flex .flex__album--data h1 {
  font-weight: bold;
  margin: 10px 0;
}

.flex .flex__album--data ul {
  list-style: none;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.flex .flex__album--data img {
  width: 250px;
}

.flex .flex__album--tracklist {
  display: flex;
  flex-direction: column;
}

.flex .flex__album--tracklist ol {
  list-style: none;
  padding: 0;
}

.flex .flex__album--tracklist ol li ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.flex .flex__album--tracklist ol li ul li {
  list-style: none;
  line-height: 1.8rem;
}

.flex .flex__album--tracklist button {
  position: relative;
  align-self: center;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background: transparent;
}

.flex .flex__album--tracklist button.listen-spotify {
  width: 10rem;
}

.flex .flex__album--tracklist button.listen-spotify .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: #fd579c;
  border-radius: 1.625rem;
}

.flex .flex__album--tracklist button.listen-spotify .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.065, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.flex .flex__album--tracklist button.listen-spotify .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.065, 1);
  left: 0.4rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.flex .flex__album--tracklist button.listen-spotify .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #ffffff;
  border-right: 0.125rem solid #ffffff;
  transform: rotate(45deg);
}

.flex .flex__album--tracklist button.listen-spotify .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 1.8rem;
  right: 0;
  bottom: 0;
  padding: 0.35rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.flex .flex__album--tracklist button:hover .circle {
  width: 100%;
}

.flex .flex__album--tracklist button:hover .circle .icon.arrow {
  background: #ffffff;
  transform: translate(1rem, 0);
}

.flex .flex__vinyl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flex .flex__vinyl img {
  width: 450px;
}

.flex .flex__vinyl img:hover {
  animation: rotation 2.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*CSS ART */
.img-container {
  display: grid;
  margin: 10px;
  gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  cursor: pointer;
}

.img-container img:hover {
  transform: scale(1.05);
}

.modal {
  background-color: #000000b2;
}

.modal .modal-content {
  background-color: rgba(255, 127, 80, 0);
}

.modal .modal-content .modal-body {
  padding: 0;
  justify-content: center;
}

.modal .modal-content .modal-body button {
  position: relative;
  top: 3rem;
  right: 1rem;
  width: 100%;
  border-width: 0;
  background-color: rgba(255, 127, 80, 0);
  font-size: 2rem;
  text-align: right;
}

.modal .modal-content .modal-body img {
  width: 100%;
}

/*CSS VIDEO */
.body__video {
  background-color: #000000;
  background-image: none;
}

.header__video {
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
  z-index: 100;
  position: relative;
}

.titulo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.carousel-item iframe {
  width: 100vw;
  height: 100vh;
}

.footer__video ul li {
  font-size: 1.5rem;
}

.footer__video ul li i {
  color: #ffffff;
}

.footer__video ul li i:hover {
  color: #fd579c;
}

/*CSS SUBSCRIBE */
form {
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #00000096;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  border-radius: 7px;
}

form .sign-up__header {
  text-align: center;
  padding: 5px 0;
}

form .sign-up__header h1 {
  color: #fd579c;
}

form .sign-up__header p {
  max-width: 500px;
  margin-bottom: 0;
}

form .sign-up__form {
  font-size: 1rem;
}

form .sign-up__form input[type="text"], form .sign-up__form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
}

form .sign-up__form ul {
  list-style: none;
}

form .sign-up__form ul input[type="checkbox"] {
  font-size: 1rem;
}

form .sign-up__form .form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .sign-up__form .form-buttons .button {
  width: 50%;
  margin: 5px auto;
  padding: 5px;
  background-color: #ffffff;
  color: #fd579c;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

form .sign-up__form .form-buttons .button:hover {
  background-color: #fd579c;
  color: #ffffff;
}

/* CSS MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  html {
    font-size: 85%;
    line-height: 85%;
  }
  .article1 {
    gap: 10px;
  }
  .article1 .article1__video iframe {
    width: 400px;
    height: 225px;
  }
  .article1 .article1__text h2 {
    margin-bottom: 0;
  }
  .article1 .article1__text p {
    margin: 2px;
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 75%;
    line-height: 75%;
  }
  .header {
    padding: 5;
  }
  .header .header__video {
    position: relative;
  }
  .header .header__logo img {
    width: 210px;
  }
  .navbar-toggler {
    padding: 0.2rem;
  }
  .navbar-toggler-icon {
    width: 1.2rem;
    height: 1.2rem;
    justify-content: start;
  }
  .main-text {
    height: 180px;
    overflow: auto;
  }
  .main-text h1 {
    padding: 4px;
    position: sticky;
    top: 0;
  }
  .main-text p {
    padding: 0 25px;
  }
  .article1 {
    margin: 0px auto 10px;
    flex-direction: column;
    gap: 5px;
  }
  .article1 .article1__video iframe {
    width: 290px;
    height: 164px;
  }
  .article1 .article1__text {
    padding: 0 5px;
    text-align: center;
  }
  .article1 .article1__text p {
    padding: 0 10px;
    margin-right: 0;
  }
  .flex {
    gap: 15px;
  }
  .flex .flex__album--data {
    flex-direction: column;
  }
  .flex .flex__album--data h1 {
    margin: 0;
  }
  .flex .flex__vinyl img {
    width: 300px;
  }
  .img-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  form {
    width: 300px;
    margin: 30px auto 15px;
    padding: 5px 10px;
  }
  form .sign-up__form input[type="checkbox"] {
    margin-bottom: 10px;
  }
  footer {
    flex-direction: column-reverse;
  }
  footer ul {
    padding: 0;
  }
  footer ul li {
    margin: 5px;
  }
}
/*# sourceMappingURL=main.css.map */