/* CSS HOME */

@import "var";

.banner {
    img {
        width: 100%;
    }
}

.main-text {
     display: inline-block;
    h1 {
        background-color: $colorBase;
        padding: 0.4rem;
        color: $colorOscuro;
        text-align: center;
        font-style: italic;
        z-index: 1;
    }
    p {
        padding: 0.2rem 3.5rem;
        text-align: justify;
        font-size: 1rem;
        img {
            width: 1.7rem;
            position: relative;
            top: -0.2rem;
        }
    }
    &__link {
        color: $colorBase;
    }
    &__dope {
        color: $colorSecundario;
        font-weight: bold;
    }
}

.article1 {
    background-color: $transparencias;
    margin: 1rem auto ;
    padding: 0.8rem;
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
    & &__video {
        iframe {
            width: 550px;
            height: 320px;
        }
    }
    & &__text {
        width: 270px;
        h2 {
            font-style: italic;
            color: $colorPrincipal;
            margin-bottom: 0;
        }
        p {
            margin: 0.5rem 1rem 0.5rem 0;
            font-size: 0.9rem;
            text-align: justify;
        }
        button {
          position: relative;
          display: inline-block;
          cursor: pointer;
          outline: none;
          border: 0;
          text-decoration: none;
          background: transparent;
          &.more-videos {
            width: 12rem;
            .circle {
              @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
              position: relative;
              display: block;
              margin: 4px;
              width: 2rem;
              height: 2rem;
              background: $colorPrincipal;
              border-radius: 1.625rem;
              .icon {
                    @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    &.arrow {
                        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                        left: 0.2rem;
                        width: 1.125rem;
                        height: 0.125rem;
                        background: none;
                        &::before {
                          position: absolute;
                          content: '';
                          top: -0.25rem;
                          right: 0.0625rem;
                          width: 0.625rem;
                          height: 0.625rem;
                          border-top: 0.125rem solid $colorBase;
                          border-right: 0.125rem solid $colorBase;
                          transform: rotate(45deg);
                        }
                    }
                } 
            }
            .button-text {
              @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              padding: 0.5rem 0;
              margin: 0 0 0 1.3rem;
              color: $colorBase;
              font-family: $fontBase;
            }
          }
          &:hover {
                .circle {
                    width: 93%;
                    .icon {
                        &.arrow {
                            background: $colorBase;
                            transform: translate(1rem, 0);
                        }
                    }
                }
            }
        }
    }
}