/*CSS SUBSCRIBE */ 

@import "var";

form {
    margin: 30px auto;
    padding: 10px 20px;
    background-color: $transparencias;
    width: fit-content;
    font-family: $fontBase;
    border-radius: 7px;
    .sign-up__header {
        text-align: center;
        padding: 5px 0;
        h1 {
            @extend %h1;
            color: $colorPrincipal;
        }
        p {
            max-width: 500px;
            margin-bottom: 0;
        }
    }
    .sign-up__form {
        font-size: 1rem;
        input[type="text"], select {
            width: 100%;
            padding: 5px;
            margin-bottom: 15px;
            font-size: 1rem
        }
        input[type="checkbox"] {
            margin-bottom: 15px;
            font-size: 1rem;
        }
        .form-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .button {
                width: 50%;
                margin: 5px auto;
                padding: 5px;
                background-color: $colorBase;
                color: $colorPrincipal;
                font: {
                    family: $fontBase;
                    size: 1rem
                }
                &:hover {
                    background-color: $colorPrincipal;
                    color: $colorBase;
                }
            }
        }
    }
}
