// VARIABLES //

@mixin sizes ($width, $height: $width) {
    width: $width;
    height: $height;
}

$colorBase: #ffffff;
$colorPrincipal: #fd579c;
$colorSecundario: #ffdd44;
$colorOscuro: #000000;

$transparencias: #00000096;

$fontBase: 'Poppins', sans-serif;