// VARIABLES //

@mixin sizes ($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
}
  
$colorBase: #ffffff;
$colorPrincipal: #fd579c;
$colorSecundario: #ffdd44;
$colorOscuro: #000000;

$transparencias: #00000096;

$fontBase: 'Poppins', sans-serif;