/*CSS VIDEO */ 

@import "var";

.body__video {
    background-color: #000000;
    background-image: none;
}
.header{
    &__video{
        padding: 0 20px;
        font-family: $fontBase;
        z-index: 100;
        position: relative;
        text-align: center;
    } 
}
.titulo {
    h1 {
        font: {
            family: $fontBase;
            size: 2rem;
        }
        text-align: center;
    }
}
.carousel-item {
    iframe {
        @include sizes (100vw, 100vh);
    }
}
.footer__video {
    ul {
        li {
            font-size: 1.5rem;
            i {
                color: $colorBase;
                &:hover {
                color: $colorPrincipal;
                }
            }
        }
    }
}